input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fefdfd inset !important;
  /* transition: background-color 5000s ease-in-out 0s; */
  -webkit-text-fill-color: #000000 !important;
}

.MuiTextField-root {
  background: #fafafa;
}

.MuiFormHelperText-root.Mui-error {
  margin: 0;
  text-align: center;
  background-color: #e8f5e9;
  font-size: 1rem;
}

.bookImagesGrid {
  height: 60px;
  object-fit: cover;
}
