input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fefdfd inset !important;
  /* transition: background-color 5000s ease-in-out 0s; */
  -webkit-text-fill-color: #000000 !important;
}

.MuiTextField-root {
  background: #fafafa;
}

.MuiFormHelperText-root.Mui-error {
  margin: 0;
  text-align: center;
  background-color: #e8f5e9;
  font-size: 1rem;
}

.bookImagesGrid {
  height: 60px;
  object-fit: cover;
}

div.MuiCardContent-root {
  min-height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 5px solid #00e676;
}

.imgCardComponent {
  margin: 0;
}

input[type="file"] {
  display: none;
}

.errorPage {
  margin: 2rem 0 2rem 0;
}

.flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .MuiInputBase-root,
  .MuiFormControl-root {
    max-width: 300px;
  }
  .errorPage {
    width: 320px;
    height: 320px;
  }
}

.bookNotFoundCenter {
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
